{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de departamentos</h1>
    <table class="table table-striped">
        <thead class="thead-inverse">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
        </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td><strong>{{ department.name }}</strong></td>
                <td>{{ department.description }}</td>
                <td>
                    <a href="{{ path('departamentos_show', { 'id': department.id }) }}" class="btn btn-sm">mostrar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}