{% extends 'base.html.twig' %}

{% block body %}
    <h1>Departamento</h1>

    <form>
        <dl class="dl-horizontal">
            <dt>{{ department.name }}</dt>
            <dd>{{ department.description }}</dd>
        </dl>
        <hr>
        <a href="{{ path('departamentos_index') }}" class="btn btn-default">Ver todos</a>
    </form>
{% endblock %}
