{% extends "::base.html.twig" %}

{% block title %}AppBundle:Default:index{% endblock %}

{% block body %}
        <div class="jumbotron main-hero">
            <p class="description">Seleccione en el menu superior los elementos a administrar</p>
        </div>
{% endblock %}
